@import url('https://fonts.googleapis.com/css2?family=Lora:wght@600&family=Nunito:wght@600&display=swap');

html {
  margin: 0px;
}

body {
  margin: 0px;
}

h1 {
  font-family: 'Lora', serif;
  font-size: 55px;
  letter-spacing: 0.1em;
}

h1 a {
  text-decoration: none;
  color: black;
}

h2 {
  font-family: 'Nunito', sans-serif;
  font-size: 35px;
}

fieldset {
  border-style: none;
  justify-content: center;
  flex-direction: column;
}

header {
  background: linear-gradient(#1FB4E3, white);
  padding-top: 70px;
  padding-bottom: 70px;
}

#signup_form {
  display: flex;
  justify-content: center;
}

.headers {
  display: flex;
  justify-content: center;
}

#signup_submit {
  display: flex;
  justify-content: center;
  padding-top: 30px;

}

.fields {
  padding-top: 10px;
  justify-content: center;
  display: flex;

}

input {
  background: rgba(238, 238, 238, 0.49);
  border-radius: 10px;
  width: 378px;
  height: 40px;
  padding-left: 10px;
  border-style: none;
  font-family: 'Nunito', sans-serif;
  ;
}


button {
  background-color: #1FB4E3;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  /* padding: 0 30px 0 30px; */
  width: 338px;
  height: 40px;
  border-radius: 5px;
  border-style: none;
  cursor: pointer;
  color: white;
  font-size: 16px;
  font-family: 'Nunito', sans-serif;
  ;
}

footer {
  background: linear-gradient(white, #1FB4E3);
  padding: 70px;
  margin: 0px;
}

hr {
  width: 300px;
}

.alt-signin {


  display: flex;
  justify-content: center;
}

.login {
  display: flex;
  justify-content: center;
  font-family: 'Nunito', sans-serif;
}

h3 {
  font-family: 'Nunito', sans-serif;
}

nav li {
  display: inline-block;
  background-color: #1FB4E3;
  width: 250px;
  padding: 15px;
  text-align: center;

}

nav li a {
  text-decoration: none;
  color: white;
  font-family: 'Nunito', sans-serif;
}

nav {
  display: flex;
  justify-content: center;
}

.hello_msg {
  font-size: 35px;
  display: flex;
  justify-content: center;
  font-family: 'Nunito', sans-serif;
}

.main-msg {
  font-size: 20px;
  display: flex;
  justify-content: center;
  font-family: 'Nunito', sans-serif;
  padding-top: 50px;
}

.sub-msg {
  font-size: 15px;
  display: flex;
  justify-content: center;
  font-family: 'Nunito', sans-serif;
  padding: 70px 0 30px 0;
}

.photo-btn {
  display: flex;
  justify-content: center;
}

@media screen and (max-width:480px) {
  
  nav ul {
    padding-left: 0%;
    margin: 0%;
  }
  
  nav li {
    margin: 0%;
    width: 100px;
    justify-content: space-evenly;
  }

  .main-msg {
    font-size: 20px;
    padding: 70px;
    text-align: center;
  }

  .sub-msg {

    padding: 50px 0 30px 0;
  }

}